.nav-link-box {
	height: 8vh;
	margin: 2vh 0 4vh 0;
	border-radius: 2px;
	background: #23B0A8;
	background: linear-gradient(to right, rgba(35, 176, 169, 0) 50%, #496EE6 50%);
	background-size: 200% 100%;
	background-position: left bottom;
	transition: all 1.25s ease;
}
.nav-link-box:hover {
	background-position:right bottom;
}
.left-nav-box {
	background: linear-gradient(to left, rgba(35, 176, 169, 0) 50%, #496EE6 50%);
	background-position: right bottom;
	background-size: 200% 100%;
}
.left-nav-box:hover {
	background-position:left bottom;
}
.left-nav-text {
	margin-left: 20px;
}
.nav-link {
	width: 100%;
	padding-right: 25px;
	padding-top: 5%;
	font-size: 24px;
	color: rgb(197, 237, 245);
	position: absolute;
}
.portfolio-background {
	background-color: #318577;
	transition-duration: 300ms;
    transition: background-color 1.25s ease;
    height: 100vh;
}

/* The description of the project */
.project {
	height: 220px;
	background: white;
	margin-top: 30px;
	border-radius: 5px;
	transition: all .3s ease-in-out;
}
.project:hover {
	transform: scale(1.1)
}
.project-padding {
	padding-left: 20px;
	padding-right: 20px;
}
.project-1 {
	margin-top: 0;
}
.project-image {
	height: 21vh;
	margin-left: 50px;
	margin-top: 5px;
}
.project-3-image {
	margin-left: 60px;
}
.plan-title {
	font-size: 30px;
	font-weight: 600;
}
.clearfix {
	overflow: auto;
}

@media screen and (max-width: 1600px){
	.project-image {
		margin-left: 0;
	}
}

@media screen and (max-width: 1200px){
	.project-image {
		margin-left: 50%;
		transform: translateX(-50%);
	}
}