body{
	height: 100%;
	background: black;
}
.portfolio
.about-me {
	display: inline-block;
}
.main{
	background: lightblue;
	height: 100vh;
}
.portfolio{
	background: lightcoral;
	height: 50vh;
	transition: transform 1s;
}
.portfolio:hover{
	transform: translate(-20px, 20px);
}
.about-me{
	background: peachpuff;
	height: 50vh;
	transition: transform 1s;
}
.about-me:hover{
	transform: translate(-20px, -20px);
}
.mp-reset{
	margin: 0;
	padding: 0;
}