body{
	height: 100%;
}
.portfolio
.about-me {
	display: inline-block;
}
.main{
	background: blue;
	height: 100vh;
}
.portfolio{
	background: green;
	height: 50vh;
}
.portfolio:hover{
	transform: scale(1.1);
}
.about-me{
	background: yellow;
	height: 50vh;
}
.mp-reset{
	margin: 0;
	padding: 0;
}