/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Nav Bar*/
nav {
	text-align: right;
}
.primary-nav {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .5px;
	text-transform: uppercase;
	float: right;
	vertical-align: 50%;
	padding-top: 63.5px;
}
.primary-nav li {
	display: inline-block;
	margin: 0 10px;
	vertical-align: top;
}
.primary-nav li:last-child {
	margin-right: 0;
}
/* Primary Header */
.logo {
	padding: 25px;
	font-size: 48px;
	line-height: 44px;
	color: #fff;
	background: #4aaaa5;
	float: left;
}
.primary-header {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	border-bottom: 1px solid #ccc;
	background-color: #fff;	
}
/* Footer */
.primary-footer {
	background: #666;
	height: 50px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	border-top: 5px solid #4aaaa5;
}
.footer-text {
	color: #a8a8a8;
	padding-top: 27.5px;
}
/* Bio */
.bio{
	display: inline-block;
	margin-top: 25px;
	margin-bottom: 25px;
	font-size: 18px;
	line-height: 25px;
	color: #3b3b3b;
}
.bio-image {
	float: left;
	margin-top: 25px;
	margin-right: 10px;
}
/* Portfolio */
.enclosing-box {
	height: 600px;
	position: relative;
}
.portfolio-box {
	width: 225px;
	height: 225px;
	border: 2px solid #a8a8a8;
	position: absolute;
}
.portfolio-header {
	background-color: #4aaaa5;
	position: relative;
	color: #fff;
	font-weight: 200;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	text-align: center;
	height: 25px;
	padding-top: 12.5px;
	top: 175px;
}
.project1 {
	top: 5%;
	left: 5%;
	background-image: url("../../assets/images/Burning.jpg");
	background-size: 225px 225px;
	position: absolute;
}
.project2 {
	top: 5%;
	right: 5%;
	background-image: url("../../assets/images/Landscape.jpg");
	background-size: 225px 225px;
	position: absolute;
}
.project3 {
	top: 32%;
	left: 37%;
	background-image: url("../../assets/images/List.jpg");
	background-size: 225px 225px;
	position: absolute;
}
.project4 {
	bottom: 5%;
	left: 5%;
	background-image: url("../../assets/images/OrangeMoon.jpg");
	background-size: 225px 225px;
	position: absolute;
}
.project5 {
	bottom: 5%;
	right: 5%;
	background-image: url("../../assets/images/Peacock.jpg");
	background-size: 225px 225px;
	position: absolute;
}
/* Contact */
.contact-form {
	margin-top: 25px;
	color: #3b3b3b;
	font-size: 22px;
	padding-left: 100px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.input-box {
	width: 80%;
	height: 30px;
	font-size: 18px;
	font-weight: 200;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-top: 2px solid #888;
	border-left: 2px solid #888;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.message-box {
	width: 80%;
	font-size: 18px;
	font-weight: 100;
	-webkit-appearance: none;
	-moz-appearance: none;
	border-top: 2px solid #888;
	border-left: 2px solid #888;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	max-width: 100%;
	height: 200px;
}
.submit-button {
	background: #4aaaa5;
	border: 1px #888 solid;
	width: 160px;
	height: 45px;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	color: #fff;
	font-size: 22px;
	font-weight: 200;
}
/* Links in header & footer */
.primary-header a {
	color: #888;
}
.primary-header a:hover {
	color: #4aaaa5;
}
.tagline {
	margin: 0 ;
	display: block;
}
a {
	text-decoration: none;
}
/* Whole Website Style */
body {
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	background-image: url("../../assets/images/vertical-waves.png")
}
.body-header {
	font-size: 44px;
	color: #4aaaa5;
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	border-bottom: 1px solid #ccc;
	width: 100%;
}
/* Grid */
.container {
	margin: auto;
	width: 960px;
}
.central-container {
	margin: 50px;
	padding: 50px 0;
}
.body-container {
	width: 960px;
	margin: 0 auto;
	margin-top: 50px;
	background: #fff;
}
/* Clearfix */
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}