/* General Website Style */
.mp-reset{
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Oswald', sans-serif;
	height: 100vh;
	overflow: hidden;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	color: black;
	text-decoration: none;
}
.top {
	z-index: 10;
}
.clearfix {
	overflow: auto;
}
.svg-background{
    margin: 0;
    height: 100vh;
	width: 100%;
	position: fixed;
	bottom: 0;
}
.intro {
	width: 100%;
	word-wrap: normal;
}
/* No height so the SVGs sit properly on the page */
.no-height {
	height: 0;
}
/* Index Page */
.portfolio
.about-me-preview {
	display: inline-block;
}
.main{
	background: rgb(26, 151, 145);
	height: 100vh;
}
.index-link-box {
	height: 8vh;
	margin: 10vh 0;
	border-radius: 2px;
	background: #23B0A8;
	background: linear-gradient(to right, rgba(35, 176, 169, 0) 50%, #496EE6 50%);
	background-size: 200% 100%;
	background-position: left bottom;
	transition: all 1.25s ease;
}
.index-link-box:hover {
	background-position:right bottom;
}
.index-link {
	width: 100%;
	padding-right: 25px;
	padding-top: 5%;
	font-size: 24px;
	color: rgb(197, 237, 245);
	position: absolute;
}
.main-text {
	height: 200px;
}

/* SVG colorings */
.purple-triangle {
    fill:#9B83C1;
}
.light-blue-triangle {
    fill:rgb(94, 179, 192);
}
.baby-blue-triangle {
    fill:rgb(126, 219, 233);
}
.red-triangle {
    fill: #EC5A5A;
}
.pink-triangle {
	fill: #D18CBB;
}
.mango-triangle {
	fill: rgb(233, 190, 51);
}
.transparent-mango-triangle {
	fill: rgba(221, 181, 48, 0.568);
}
.orange-triangle {
	fill: #F5A036;
}
.forest-triangle {
	fill: #6BC28B;
}
.lime-triangle {
	fill: rgb(180, 201, 64);
}
.dark-lime-triangle {
	fill: rgb(162, 182, 63);
}
.blue-triangle {
	fill: rgb(66, 98, 202);
}
.dull-blue-triangle {
	fill: rgb(104, 142, 207);
}
.dark-blue-triangle {
	fill: rgb(29, 62, 179);
}
.dark-magenta-triangle {
	fill: rgb(128, 40, 84);
}
.magenta-triangle {
	fill: rgb(173, 19, 99);
}
/* Animation for the arrows to move on hover */
@keyframes bounceRight {
	0% 			{ transform:translateX(-1.5px); }
	15%, 85%	{ transform:translateX(-3.5px); }
	25%, 75% 	{ transform:translateX(-5px); }
	50% 		{ transform:translateX(-10px); }
	100% 		{ transform:translateX(0); }
}
@keyframes bounceLeft {
	0% 			{ transform:translateX(1.5px); }
	15%, 85%	{ transform:translateX(3.5px); }
	25%, 75% 	{ transform:translateX(5px); }
	50% 		{ transform:translateX(10px); }
	100% 		{ transform:translateX(0); }
}


@media screen and (max-width: 1000px){
	.index-link-box {
		margin: 0;
	}
	.index-link {
		padding: 0;
		padding-right: 25px;
		text-align: right;
	}
}