.svgthing {
    fill: rgb(179, 0, 0);
    margin-top: 50vh;
}
.svgthing:hover {
    animation: bounce 1s infinite;
}
.bounce{
    animation: bounce 1s infinite;
}
/* Need these two below to make the canvas fit nicely in the div */
#myCanvas {
    position: absolute;
    width: 100%;
    height: 100%
}
.whole-page {
    height: 100vh;
    margin: 0;
}
svg{
    margin: 0;
    height: 100vh;
    width: 100%;
}
#purple-am-triangle {
    fill:#9B83C1;
}
#blue-am-triangle {
    fill:#71D3E2;
}
#yellow-am-triangle {
    fill: #EBF595;
}
#red-am-triangle {
    fill: #EC5A5A;
}
body {
    background-image: linear-gradient(#56737E, #354A4E)
}